<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dropdown Menu</title>
  <style>
 
  </style>
</head>
<body>
  <header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 justify-center">
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <div class="dropdown">
          <button class="mr-5 hover:text-white dropdown-toggle focus:outline-none" href="/home">
            Home
            
          </button>
        </div>
        <div class="dropdown">
          <button class="mr-5 hover:text-white dropdown-toggle focus:outline-none">
            Profile
            <svg class="ml-2 -mr-1 h-5 w-5 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
          <div class="dropdown-content">
            <a href="/signup" >Sign Up </a>
            <a href="/login">Login</a>
            <a href="#">Personal Details</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="mr-5 hover:text-white dropdown-toggle focus:outline-none">
            Services
            <svg class="ml-2 -mr-1 h-5 w-5 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
          <div class="dropdown-content">
            <a href="#">Appointments</a>
            <a href="#">Symptoms</a>
            <a href="#">Complains</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="mr-5 hover:text-white dropdown-toggle focus:outline-none">
            Doctor
            <svg class="ml-2 -mr-1 h-5 w-5 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
          </button>
          <div class="dropdown-content">
            <a href="#">Doctor</a>
            <a href="#">Doctor Details</a>
          </div>
        </div>
        <a class="mr-5 hover:text-white" href="/about">About</a>
        <a class="mr-5 hover:text-white">Contact Us</a>
      </nav>
    </div>
  </header>
</body>
</html>