<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
      <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
        <h1 class="title-font font-medium text-3xl text-white">Register Here</h1>
        <p class="leading-relaxed mt-4">Create your account for the best user experience</p>
      </div>
      <div class="lg:w-2/6 md:w-1/2 bg-gray-800 bg-opacity-50 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0" ngIf="!isRegistered">
        <h1 class="text-white text-lg font-medium title-font mb-5">Register</h1>
        <h3 class="text-white text-lg font-medium title-font mb-5">Already have an account? Login</h3>
      
      
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"  > 
        <!--form [formGroup]="registerForm" (register)="onRegister()" (ngSubmit)="onRegister()" -->
       
        <div class="relative mb-4 " >
         <div class="formGroup" >
          <label for="firstName" class="leading-7 text-sm text-gray-400">username</label>
          <input type="text"  id="username" formControlName="username" name="username" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-yellow-900 rounded border border-gray-600 focus:border-yellow-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required >
         </div>
        </div>
          <div class="relative mb-4">
            <label for="password" class="leading-7 text-sm text-gray-400">Password</label>
            <input type="text"  id="password" formControlName="password" name="password" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-yellow-900 rounded border border-gray-600 focus:border-yellow-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required >
          </div>
          <div class="relative mb-4">
            <label for="confirmPassword" class="leading-7 text-sm text-gray-400">Confirm Password</label>
            <input type="text"  id="confirmPassword" formControlName="confirmPassword"  name="confirmPassword" class="w-full bg-gray-600 bg-opacity-20 focus:bg-transparent focus:ring-2 focus:ring-yellow-900 rounded border border-gray-600 focus:border-yellow-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required >
          </div>
          <!--<button (click)="onSubmit()" class="text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Sign Up</button> -->
        <button type="submit" class="text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Sign Up</button>
       </form>
      </div>
    </div>
  </section>

