<section class="text-gray-400 body-font bg-gray-900">
    <div class="page-container">
      <div class="content">
      <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap w-full mb-20">
          <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white">Students Health Clinic</h1>
            <div class="h-1 w-20 bg-yellow-500 rounded"></div>
          </div>
          <p class="lg:w-1/2 w-full leading-relaxed text-gray-400 text-opacity-90">Welcome to the Student Health Clinic. At our student health clinic we are dedicated to providing high quality, compassionate care to support the well-being of your reproductive health.</p>
        </div>
        <div class="flex flex-wrap -m-4">
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=600" alt="content">
              <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">PROFFESSIONALS</h3>
              <h2 class="text-lg text-white font-medium title-font mb-4">Doctors</h2>
              <p class="leading-relaxed text-base">Medical doctors are available for consultation both offline and in person via bookings</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://images.pexels.com/photos/6694190/pexels-photo-6694190.jpeg?auto=compress&cs=tinysrgb&w=300" alt="content">
              <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">SELF SERVICE</h3>
              <h2 class="text-lg text-white font-medium title-font mb-4">Self diagnosis</h2>
              <p class="leading-relaxed text-base">We provide detailed descriptions and symptoms of reproductive related diseases and recommendations to aid decision making.</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://images.pexels.com/photos/5697255/pexels-photo-5697255.jpeg?auto=compress&cs=tinysrgb&w=300" alt="content">
              <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">RECOMMENDATIONS</h3>
              <h2 class="text-lg text-white font-medium title-font mb-4">Reliable Recommendations</h2>
              <p class="leading-relaxed text-base">You can trust us to provide you with reliable reccommendations for your situation to ensure you get out of that fix</p>
            </div>
          </div>
          <div class="xl:w-1/4 md:w-1/2 p-4">
            <div class="bg-gray-800 bg-opacity-40 p-6 rounded-lg">
              <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://images.pexels.com/photos/6549358/pexels-photo-6549358.jpeg?auto=compress&cs=tinysrgb&w=300" alt="content">
              <h3 class="tracking-widest text-yellow-400 text-xs font-medium title-font">RECORDS</h3>
              <h2 class="text-lg text-white font-medium title-font mb-4">Your Database</h2>
              <p class="leading-relaxed text-base">We help you store your essential data for future reference. </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </section>
  
